*{
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}
body{
  background:white;
}
.skills{
  width: 400px;
  margin: 60px auto;
  color: darkgreen;

}
.skill li{
  margin: 20px 0;
}
.bar{
  background: white;
  display: block;
  height: 7px;
  border: 1px solid rgba(7, 97, 67, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px green;
}
.bar span{
  height: 5px;
  float: left;
  background:  darkgreen;
}
.python{
  width: 85%;
  animation: python 2s;
}
.pytorch{
  width: 70%;
  animation: pytorch 2s;
}
.yolo{
  width: 80%;
  animation: yolo 2s;
}
.ccpp{
  width: 75%;
  animation: ccpp 2s;
}
.opencv{
  width: 70%;
  animation: opencv 2s;
}
.azure{
  width: 65%;
  animation: azure 2s;
}
.deeplearning{
  width: 80%;
  animation: deeplearning 2s;
}
.matlab{
  width: 65%;
  animation: matlab 2s;
}
.kerastf{
  width: 65%;
  animation: kerastf 2s;
}
.msoffice{
  width: 100%;
  animation: msoffice 2s;
}
.adobepsai{
  width: 60%;
  animation: adobepsai 2s;
}
@keyframes python {
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes pytorch {
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes yolo {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes ccpp {
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
@keyframes opencv {
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes azure {
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes deeplearning {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes matlab {
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes kerastf {
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes msoffice {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes adobepsai {
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}